/* ==============================================================================================
General
=================================================================================================
*/

body {
    background: url(http://danglingmouse.com/wp-content/uploads/2014/11/16-F3PkBNT.png) no-repeat center center fixed; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
}

header {
    background-color: slategray;
    opacity: 0.8;
    text-align: center;
}

p {
    color: lightgray;
}

.tht {
    color: whitesmoke;
    text-align: left;
}

.bullets {
    margin-left: 500p;
}

.gamecaps {
    text-align: center;
}